<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Mulit User blog</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>The Multi User blog</h1>
      <div class="head-cont-left">
        <a href="/">Home page</a>
      </div>
      <div class="head-cont-right">
        <a href='/login'>Log in</a> - 
        <a href='/signup'>Sign up</a>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>